<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="nl.tudelft.jpacman.npc.ghost.Blinky" level="OFF" />
	<logger name="nl.tudelft.jpacman.npc.ghost.Pinky" level="OFF" />
	<logger name="nl.tudelft.jpacman.npc.ghost.Inky" level="OFF" />
	<logger name="nl.tudelft.jpacman.npc.ghost.Clyde" level="OFF" />
	<logger name="nl.tudelft.jpacman.npc.ghost.Navigation" level="OFF" />
	<logger name="nl.tudelft.jpacman.level.Level$NpcMoveTask" level="OFF" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>